<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <img class="img-responsive" src="images/apish.png" alt="apish logo">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <form class="form-inline">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="twitter_option" ng-model="search.params.twitter">
              Twitter
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="wikipedia_option" ng-model="search.params.wikipedia">
              Wikipedia
            </label>
          </div>
        </div>
        </form>
    </div>
    <div style="height:1em;"></div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <input class="form-control" type="text" name="search" placeholder="What are you looking for?" autofocus="true" ng-model="search.query" ng-enter="execute_search(search)">
      </div>
      <div class="col-xs-12 col-md-2">
        <button class="btn btn-default btn-block" type="button" name="button" ng-click="execute_search(search)"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div style="height:5em;"></div>

<div class="row" cg-busy="{promise:twitterPromise,message:'Loading Your Data'}">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul class="list-unstyled">
      <li ng-repeat="tweet in tweets">
        <div class="row well well-sm">
          <div class="col-xs-2">
            <img src="https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png" alt="twitter tweet image" class="img-responsive" style="height: 3.5em"/>
          </div>
          <div class="col-xs-10">
            <strong>{{tweet.user.name || 'Guillermo Jiménez'}}</strong> <small><a href="https://twitter.com/{{tweet.user.screen_name || 'm3m0_'}}" target="_blank">@{{tweet.user.screen_name || 'm3m0_'}}</a></small> <small class="pull-right">{{tweet.created_at}}. {{tweet.user.location}}</small>
            <br />
            <p>
              {{tweet.text}}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row" cg-busy="{promise:wikipediaPromise,message:'Loading Your Data'}">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul class="list-unstyled">
      <li ng-repeat="wiki in wikis">
        <div class="row well well-sm">
          <div class="col-xs-2">
            <img src="https://upload.wikimedia.org/wikipedia/meta/b/be/Wikipedia-logo-v2_2x.png" alt="wikipedia wiki image" class="img-responsive" style="height: 3.5em"/>
          </div>
          <div class="col-xs-10">
            <strong><a href="https://en.wikipedia.org/wiki/{{wiki.title}}" target="_blank">{{wiki.title || 'Title'}}</a></strong> <small class="pull-right">{{wiki.timestamp | date: 'medium'}}</small>
            <br />
            <span ng-bind-html="wiki.snippet">
            </span><a href="https://en.wikipedia.org/wiki/{{wiki.title}}" target="_blank">...</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
